.DS_Store
.coverage
.git
.gitignore
.mypy_cache
.pytest_cache
.ruff_cache
.venv
__pycache__
**/.DS_Store
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
**/.venv
**/__pycache__
*.db
*.log
*.py[cod]
*.sqlite
*.sqlite3
*.swp
coverage.xml
data
htmlcov
tests
